/* Reset Box Sizing */
* {
  box-sizing: border-box;
}

#logo {
  width: 300px;
  height: 300px;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: aliceblue;
  align-content: center;
  border-radius: 20px;

}
#mainHeader {
  text-align: center;
  background-color: #2c3e50;   /* dark blue/gray */
  color: white;
  padding: 20px;
  font-size: 1.5rem;
}

#mainHeader img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
  border-radius: 10px;
}

body {
  display: flex;
	align-items: center;
  justify-content: center;
	font-family: 'Libre Baskerville', serif;
	background-color: rgb(146, 162, 190);
}
body, html {
  margin: 0;
  padding: 0;
}

#introScreen {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center
}

#playNow {
  background: blanchedalmond;
  background-image: -webkit-linear-gradient(top,#db0000,#ad0000);
  background-image: -moz-linear-gradient(top, #db0000,#ad0000);
  background-image: -ms-linear-gradient(top, #db0000, #ad0000);
  background-image: -o-linear-gradient(top, #db0000, #ad0000);
  background-image: linear-gradient(to bottom, #db0000, #ad0000);
  margin-bottom: 200px;
}
#playNow:hover {
	background: #ff0000;
	background-image: -webkit-linear-gradient(top, #ff0000, #c70000);
	background-image: -moz-linear-gradient(top, #ff0000, #c70000);
	background-image: -ms-linear-gradient(top, #ff0000, #c70000);
	background-image: -o-linear-gradient(top, #ff0000, #c70000);
	background-image: linear-gradient(to bottom, #ff0000, #c70000);
	text-decoration: none;
}

#wrapper {
	
  max-width: 500px;   
  margin: 0 auto;     
  padding: 20px;    
  background-color: beige;
}

#monteContainer {
  display: none;
}


#mainSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#cardTable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 265px;
}

.playingCard {
	width: 140px;
	margin: 30px 15px;
}

.cardBack {
	width: 140px;
	margin: 30px 15px;
	position: relative;
}

.cardBackWrapper {
	display: none;
}